// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$sassyLarge: 1280;
$sassyMed: 1040;
$sassySmall: 600;
$sassyXSmall: 400;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;

// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;
